<!doctype html>
<html lang="en">
	<head>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no"
		/>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="wrap">
			<nav class="nav">
				<p class="title">MinFS</p>
			</nav>
			<div class="body">
				<div class="sidebar">
					<ol>
						<li>
							<a href="#">
								<i class="fa-regular fa-square-plus"></i>
								Upload
							</a>
						</li>
						<li>
							<a href="#" class="active">
								<i class="fa-regular fa-house"></i>
								Home
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa-regular fa-heart"></i>
								Favourites
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa-regular fa-trash-can"></i>
								Recycle Bin
							</a>
						</li>
					</ol>
				</div>
				<div class="content">
					<div class="breadcrumb">
						<span><a href="/">...</a></span>
						{{range .Crumbs}}
						<span class="sep">/</span>
						<span><a href="{{.Path}}">{{.Name}}</a></span>
						{{end}}
					</div>
					<div class="grid">
						{{range .Files}} {{if .IsDir}}
						<a href="{{.Name}}/" class="card">
							<i class="fa-regular fa-folder"></i>
							<span class="name">{{.Name}}</span>
							<span class="meta">{{.NoOfContent}}</span>
						</a>
						{{else}}
						<a href="{{.Name}}" class="card">
							<i class="fa-regular fa-file-lines"></i>
							<span class="name">{{.Name}}</span>
							<span class="meta">{{.SizeHuman}}</span>
						</a>
						{{end}} {{end}}
					</div>
				</div>
			</div>
		</div>
		<script src="/static/index.js"></script>
	</body>
</html>
