<!doctype html>
<html lang="en">
	<head>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, user-scalable=no"
		/>
		<link rel="stylesheet" href="/static/style.css" />
	</head>
	<body>
		<div class="wrap">
			<nav class="nav">
				<p class="title">MinFS</p>
				<ol class="nav-links">
					<li><a href="#">Settings</a></li>
					<li><a href="#">Upload</a></li>
				</ol>
			</nav>
			<div class="body">
				<div class="sidebar">
					<ol>
						<li>
							<a href="#" class="active"
								><span class="ms">home</span> Home</a
							>
						</li>
						<li>
							<a href="#"
								><span class="ms">favorite</span> Favourites</a
							>
						</li>
						<li>
							<a href="#"
								><span class="ms">delete</span> Recycle Bin</a
							>
						</li>
					</ol>
				</div>
				<div class="content">
					<div class="breadcrumb">
						<span>{{.PathFromBaseDir}}</span>
						<!--<span class="sep">/</span>
						<span class="cur">All files</span>-->
					</div>
					<div class="grid">
						{{range .Files}} {{if .IsDir}}
						<a href="{{.Name}}/" class="card">
							<span class="icon dir">folder</span>
							<span class="name">{{.Name}}</span>
							<span class="meta">{{.NoOfContent}}</span>
						</a>
						{{else}}
						<a href="{{.Name}}" class="card">
							<span class="icon doc">description</span>
							<span class="name">{{.Name}}</span>
							<span class="meta">{{.SizeHuman}}</span>
						</a>
						{{end}} {{end}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
